.navbar {
  margin-bottom: 4em;
  background-color: #041230;
  color: white;

  &__link {
    color: white;
    transition: all 0.1s ease-in-out;

    &:focus,
    &:hover {
      color: #bbb;
      text-decoration: none;
    }
  }
}
